<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>chefmetheway</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    <div class="section">
        <div id="black" class="jumbotron text-center">
            <h1><span class="fa fa-lock"></span> Chef-me-the-way-></h1>

            <h3>Login or Register with:</h3>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> <h2>Login</h2></a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> <h2>SignUp</h2></a>
        </div>
    </div>
</body>
</html>