<div class="container-fluid">
    <div class="row">
        <fieldset class="dashboard-border">
            <legend class="dashboard-border">Welcome</legend>
            <div class="col-md">
                <fieldset class="recipe-saved">
                    <div class="row">
                        <h1>chef-me-the-way</h1>
                    </div>
                    <br>
                    <div class="row">
                        <h3>Search for recipes. Sign-up to save them for later.</h3>
                    </div>
                    <br>
                    <div class="row">
                        <p>Have an account with us? Sign in here <a href="/signin">Sign In</a>
                        </p>
                        <p>Dont have an account? Sign up here <a href="/signup">Sign Up</p>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>