<div class="container-fluid">
    <div class="row">
        <fieldset class="dashboard-border">
            <legend class="dashboard-border">Welcome</legend>
            <div class="col-md">
                <fieldset class="recipe-saved">
                    <div class="row">
                        <h1>chef-me-the-way</h1>
                    </div>
                    <br>
                    <div class="row">
                        <h3>Search for recipes. Sign-up to save them for later.</h3>
                    </div>
                    <br>
                    <div class="row">
                        <button type="button" class="btn btn-outline-primary">Login</button>
                        <button type="button" class="btn btn-outline-primary">Logout</button>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>