<div class="container-fluid">
    <div class="row">
        <fieldset class="dashboard-border">
            <legend class="dashboard-border">Search</legend>
            <div class="col-md">
                    <div class="row">
                        <div class="col-md">
                            <p>Search for a recipe below. Register and login to save your favorite recipes.</p>
                            <hr>
                            <h3>What are you hungry for?</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for new recipes...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Search</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
        </fieldset>
        </div>
    </div>