<!DOCTYPE html>
<html lang="en">
<head>
   <title>chefmethway - Login </title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/style.css"> <!-- load fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
    {{{ body }}}
</body>
</html>