<!DOCTYPE html>
<html lang="en">

<head>
    <title>chef-me-the-way</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
    <style>
        @font-face {
            font-family: 'dragon_warrior_nesregular';
            src: url('dragon_warrior_nes-webfont.woff2') format('woff2'),
                url('dragon_warrior_nes-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }

        /* @authors:  */


        /* @github: */


        /* @comment: chef-me-the-way app by ret-r0 */

        @font-face {
            font-family: 'dragon_warrior_nesregular';
            src: url('dragon_warrior_nes-webfont.woff2') format('woff2'), url('dragon_warrior_nes-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        body {
            /* we should change this to whatever? */
            background-image: url("https://wallpaper.wiki/wp-content/uploads/2017/04/wallpaper.wiki-Food-Wallpaper-HD-PIC-WPD006576.jpg");
            font-family: 'dragon_warrior_nesregular';
        }
        
        fieldset,
        legend,
        nav,
        a,
        button,
        input {
            background-color: black !important;
            color: white !important;
        }
        
        fieldset.dashboard-border {
            border: 5px solid silver !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            border-radius: 25px;
        }
        
        legend.dashboard-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: center !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }
        
        .recipe-saved {
            width: auto;
            border: 5px solid silver !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            border-radius: 5px;
            text-align: center;
        }
        
        form {
            margin: 5px !important;
            float: right !important;
        }
        
        btn btn-outline-success my-2 my-sm-0 {
            float: right !important;
            border: none !important;
        }
        
        input {
            padding: 5px;
            border: 2px solid silver !important;
        }
        
        .btn {
            padding: 5px;
        }
  
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#insert">chef-me-the-way</a>
    </nav>
		{{{ body }}}

	{{!-- Add in jQuery --}}
	<script src=" https://code.jquery.com/jquery-3.2.1.min.js "></script>
	<script src="assets/js/script.js "></script>
	</body>
</html>